<div class="row m-0 p-0">
  <div id="sidebar" class="col-2 d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="me-2" ngSrc="assets/images/chat-square-heart-fill.svg" alt="logo" width="20" height="20">
      <span class="fs-4">
        HendrixDaily
      </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
           class="nav-link link-body-emphasis" aria-current="page">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/clean" routerLinkActive="active" class="nav-link link-body-emphasis">
          Housework
        </a>
      </li>
    </ul>

    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img ngSrc="assets/images/person-circle.svg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><span></span></strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/logout">Sign out</a></li>
      </ul>
    </div>

  </div>




</div>

